.wacolor {
	background: #61816b;
}
.gencolor {
	background: #ae8194;
}
.yocolor {
	background: #96646c;
}
.pacolor {
	background: #bcfce1;
}
.bicolor {
	background: #f5ff69;
}
.wazcolor {
	background: #b8785c;
}
.genzcolor {
	background: #c2878b;
}
.yozcolor {
	background: #c5cdc7;
}
.pazcolor {
	background: #8ac4fe;
}
.bizcolor {
	background: #497df7;
}

/* KG_DS_CDXCVI [ 110100 111001 110110 ] */
