.poacolor {
	background: #61816b;
}
.pobcolor {
	background: #ae8194;
}
.poccolor {
	background: #96646c;
}
.podcolor {
	background: #bcfce1;
}
.poecolor {
	background: #f5ff69;
}
.ppacolor {
	background: #b8785c;
}
.ppbcolor {
	background: #c2878b;
}
.ppccolor {
	background: #c5cdc7;
}
.ppdcolor {
	background: #8ac4fe;
}
.ppecolor {
	background: #497df7;
}


/* KG_DS_CDXCVI [ 110100 111001 110110 ] */
